trunk/cumberland/Cumberland.Tests/maps/cumberland.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://salmonsalvo.net/cumberland" 
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:ss="http://salmonsalvo.net/cumberland">
	<xs:element name="Map">
		<xs:complexType>
			<xs:all>
				<xs:element name="Width" type="xs:integer" minOccurs="0" maxOccurs="1" />
				<xs:element name="Height" type="xs:integer" minOccurs="0" maxOccurs="1" />
				<xs:element name="Extents" type="ss:rectangle" minOccurs="1" maxOccurs="1" />
				<xs:element name="Projection" type="xs:string" minOccurs="0" maxOccurs="1" />
				<xs:element name="BackgroundColor" type="ss:color" minOccurs="0" maxOccurs="1" />
				<xs:element name="Layers" minOccurs="0" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Layer" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:all>
										<xs:element name="Visible" type="xs:boolean" minOccurs="0" maxOccurs="1" />
										<xs:element name="Theme" minOccurs="0" maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value="None" />
													<xs:enumeration value="Unique" />
													<xs:enumeration value="NumericRange" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="ThemeField" type="xs:string" minOccurs="0" maxOccurs="1" />
										<xs:element name="LabelField" type="xs:string" minOccurs="0" maxOccurs="1" />
										<xs:element name="MaxScale" type="xs:double" minOccurs="0" maxOccurs="1" />
										<xs:element name="MinScale" type="xs:double" minOccurs="0" maxOccurs="1" />
										<xs:element name="Projection" type="xs:string" minOccurs="0" maxOccurs="1" />
										<xs:element name="Id" type="xs:string" minOccurs="0" maxOccurs="1" />
										<xs:element name="Styles" minOccurs="1" maxOccurs="1">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Style" minOccurs="1" maxOccurs="unbounded">
														<xs:complexType>
															<xs:all>
																<xs:element name="ShowLabels" type="xs:boolean" minOccurs="0" maxOccurs="1" />
																<xs:element name="LabelFont" minOccurs="0" maxOccurs="1">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:enumeration value="None" />
																			<xs:enumeration value="Serif" />
																			<xs:enumeration value="SansSerif" />
																			<xs:enumeration value="Monospace" />
																			<xs:enumeration value="Custom" />
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="LabelFontEmSize" type="xs:float" minOccurs="0" maxOccurs="1" />
																<xs:element name="LabelMaxScale" type="xs:double" minOccurs="0" maxOccurs="1" />
																<xs:element name="LabelMinScale" type="xs:double" minOccurs="0" maxOccurs="1" />
																<xs:element name="Id" type="xs:string" minOccurs="0" maxOccurs="1" />
																<xs:element name="LineWidth" type="xs:integer" minOccurs="0" maxOccurs="1" />
																<xs:element name="LineStyle" minOccurs="0" maxOccurs="1">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:enumeration value="None" />
																			<xs:enumeration value="Solid" />
																			<xs:enumeration value="Dashed" />
																			<xs:enumeration value="Dotted" />
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="LineColor" type="ss:color" minOccurs="0" maxOccurs="1" />
																<xs:element name="FillColor" type="ss:color" minOccurs="0" maxOccurs="1" />
																<xs:element name="MinRangeThemeValue" type="xs:double" minOccurs="0" maxOccurs="1" />
																<xs:element name="MaxRangeThemeValue" type="xs:double" minOccurs="0" maxOccurs="1" />
																<xs:element name="DrawPointSymbolOnPolyLine" type="xs:boolean" minOccurs="0" maxOccurs="1" />
																<xs:element name="PointSymbol" minOccurs="0" maxOccurs="1">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:enumeration value="None" />
																			<xs:enumeration value="Shape" />
																			<xs:enumeration value="Image" />
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="PointSymbolShape" minOccurs="0" maxOccurs="1">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:enumeration value="None" />
																			<xs:enumeration value="Circle" />
																			<xs:enumeration value="Square" />
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="PointSize" type="xs:integer" minOccurs="0" maxOccurs="1" />
																<xs:element name="CalculateLabelAngleForPolyLine" type="xs:boolean" minOccurs="0" maxOccurs="1" />
																<xs:element name="LabelAngle" type="xs:float" minOccurs="0" maxOccurs="1" />
																<xs:element name="LabelDecoration" minOccurs="0" maxOccurs="1">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:enumeration value="None" />
																			<xs:enumeration value="Outline" />
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="LabelColor" type="ss:color" minOccurs="0" maxOccurs="1" />
																<xs:element name="LabelPosition" minOccurs="0" maxOccurs="1">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:enumeration value="None" />
																			<xs:enumeration value="Center" />
																			<xs:enumeration value="Right" />
																			<xs:enumeration value="BottomRight" />
																			<xs:enumeration value="Bottom" />
																			<xs:enumeration value="BottomLeft" />
																			<xs:enumeration value="Left" />
																			<xs:enumeration value="TopLeft" />
																			<xs:enumeration value="Top" />
																			<xs:enumeration value="TopRight" />
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="LabelCustomFont" type="xs:string" minOccurs="0" maxOccurs="1" />
																<xs:element name="LabelOutlineColor" type="ss:color" minOccurs="0" maxOccurs="1" />
																<xs:element name="LabelOutlineWidth" type="xs:integer" minOccurs="0" maxOccurs="1" />
																<xs:element name="LabelPixelOffset" type="xs:integer" minOccurs="0" maxOccurs="1" />
																<xs:element name="UniqueThemeValue" type="xs:string" minOccurs="0" maxOccurs="1" />
																<xs:element name="FillStyle" minOccurs="0" maxOccurs="1">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:enumeration value="None" />
																			<xs:enumeration value="Solid" />
																			<xs:enumeration value="Texture" />
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="FillTexturePath" type="xs:string" minOccurs="0" maxOccurs="1" />
																<xs:element name="MaxScale" type="xs:double" minOccurs="0" maxOccurs="1" />
																<xs:element name="MinScale" type="xs:double" minOccurs="0" maxOccurs="1" />
																<xs:element name="PointSymbolImagePath" type="xs:string" minOccurs="0" maxOccurs="1" />
																<xs:element name="Simplify" type="xs:boolean" minOccurs="0" maxOccurs="1" />
																<xs:element name="SimplifyTolerance" type="xs:double" minOccurs="0" maxOccurs="1" />
															</xs:all>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Data" minOccurs="1" maxOccurs="1">
											<xs:complexType>
												<xs:all>
													<xs:element name="FilePath" type="xs:string" minOccurs="0" maxOccurs="1" />
													<xs:element name="ConnectionString" type="xs:string" minOccurs="0" maxOccurs="1" />
													<xs:element name="TableName" type="xs:string" minOccurs="0" maxOccurs="1" />
													<xs:element name="ForcedSrid" type="xs:integer" minOccurs="0" maxOccurs="1" />
													<xs:element name="ForcedGeometryColumn" type="xs:string" minOccurs="0" maxOccurs="1" />
													<xs:element name="ForcedFeatureType" minOccurs="0" maxOccurs="1">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:enumeration value="None" />
																<xs:enumeration value="Point" />
																<xs:enumeration value="Polygon" />
																<xs:enumeration value="Polyline" />
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="ForcedSpatialType" minOccurs="0" maxOccurs="1">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:enumeration value="None" />
																<xs:enumeration value="Geometric" />
																<xs:enumeration value="Geographic" />
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="SimpleFeatureSource" minOccurs="0" maxOccurs="1">
														<xs:complexType>
															<xs:sequence>
																<xs:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:all>
												<xs:attribute name="sourceType" use="required">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:enumeration value="Cumberland.Data.IFileFeatureSource" />
															<xs:enumeration value="Cumberland.Data.IDatabaseFeatureSource" />
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="sourceInstance" type="xs:string" use="required" />
											</xs:complexType>
										</xs:element>
									</xs:all>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:all>
			<xs:attribute name="version" type="xs:string" />
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="color">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,3},[0-9]{1,3},[0-9]{1,3},[0-9]{1,3}" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="rectangle">
		<xs:restriction base="xs:string">
			<xs:pattern value="-?[0-9]+.?[0-9]*,-?[0-9]+.?[0-9]*,-?[0-9]+.?[0-9]*,-?[0-9]+.?[0-9]*" />
		</xs:restriction>
	</xs:simpleType>
</xs:schema>